/*
  Palette KineticPulse (tu peux ajuster)
  Foncé: #4B3FD8
  Moyen: #6650FF
  Clair: #DEC9FF
*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #4b3fd8;
  color: white;
}

.clear-floats {
  clear: both;
}

.container {
  max-width: 960px;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 0 auto;
}

/* HEADER ******************************************************** */

.header {
  background: #4b3fd8;
}

.header .logo {
  float: left;
  width: 20%;
}

.header .logo img {
  height: 32px;
}

.header .navigation {
  float: right;
  width: 80%;
  text-align: right;
}

.header a {
  color: white;
  display: inline-block;
  padding: 20px 10px;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

.header a:hover {
  text-decoration: underline;
}

/* COMMON BUTTON ************************************************* */

a.button {
  display: inline-block;
  background: #72687f;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

a.button.button-ghost {
  background: transparent;
  border: 2px solid white;
}

a.button:hover {
  background: #8d63cc;
}

/* HOME PAGE ***************************************************** */

#home-page .content {
  position: relative;
  min-height: 480px;
  overflow: hidden;
}

/* grosse image de montre en fond */
#home-page .hero-image {
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

#home-page .logo-container {
  position: absolute;
  height: 200px;
  top: 60px;
  text-align: left;
  width: 100%;
}

#home-page .logo-container img.logo-hero {
  height: 140px;
  margin-left: 10%;
}

#home-page h1 {
  position: absolute;
  top: 220px;
  left: 10%;
  width: 80%;
  color: white;
  font-weight: 700;
  text-align: left;
  font-size: 2.4em;
}

#home-page h1 .emphasized {
  display: block;
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 8px;
}

#home-page .button-container {
  position: absolute;
  top: 330px;
  left: 10%;
}

/* FEATURES PAGE ************************************************* */

#features-page .content {
  padding: 40px 0 60px;
  background: #4b3fd8;
}

#features-page .feature {
  float: left;
  width: calc(25% - 40px);
  text-align: center;
  padding: 0 20px;
  color: white;
  line-height: 1.6em;
}

#features-page .feature .icon img {
  height: 80px;
  margin: 20px 0;
  border-radius: 20px;
}

#features-page .feature .title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2em;
}

#features-page .button-container {
  text-align: right;
  margin-top: 40px;
  margin-right: 20px;
}

/* PRICING PAGE ************************************************** */

#pricing-page .content {
  background: #f5f5ff;
  color: #333;
  padding: 40px 0 60px;
}

#pricing-page .student-pricing {
  text-align: center;
  margin: 20px 0;
}

#pricing-page .student-pricing .title {
  font-size: 3em;
  color: #4b3fd8;
}

#pricing-page .student-pricing .subtitle {
  font-size: 1.5em;
}

#pricing-page .school-pricing {
  margin: 20px 0;
  text-align: center;
}

#pricing-page .school-pricing .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#pricing-page .school-pricing table {
  margin: 10px auto;
  text-align: center;
  border-collapse: collapse;
}

#pricing-page .school-pricing table tr td {
  width: 220px;
}

#pricing-page .school-pricing table tr:nth-child(even) td {
  background: #eee;
}

#pricing-page .school-pricing table tr:nth-child(odd) td {
  background: #f7f7ff;
}

#pricing-page .school-pricing table tr.header td {
  background: #4b3fd8;
  color: white;
  font-size: 2em;
}

#pricing-page .school-pricing table tr.header td .price-caption {
  font-size: 0.4em;
}

#pricing-page .school-pricing table tr td {
  padding: 10px;
}

#pricing-page .button-container {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

/* TEAM PAGE ***************************************************** */

#team .content {
  background: #dec9ff;
  color: #333;
  padding: 40px 0 60px;
}

#team .team-member {
  padding: 20px 0;
}

#team .team-member .photo {
  float: left;
  width: 20%;
}

#team .team-member .photo img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#team .team-member .writeup {
  float: right;
  width: 80%;
}

#team .team-member h1 {
  margin-top: 0;
  color: #4b3fd8;
}

#team .team-member p {
  line-height: 1.7em;
}
