
/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #593CBA;
  color: white;
}

/* NAVBAR */
header {
  background-color: #3A0CA3;
  padding: 10px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
  font-size: 15px;
  font-weight: 600;
}

.nav-links a.active {
  text-decoration: underline;
}

/* TEAM SECTION */
.team-section {
  text-align: center;
  padding: 80px 40px;
}

.team-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto 60px auto;
}

/* TEAM CARDS */
.team-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.team-card {
  background: white;
  width: 230px;
  padding: 15px;
  border-radius: 12px;
  color: #4b4b4b;
}

.image-placeholder {
  width: 100%;
  height: 110px;
  background-color: #EDEDED;
  border-radius: 8px;
  margin-bottom: 15px;
}

.team-text {
  font-size: 12.5px;
  line-height: 1.35;
}
